<!doctype html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.css')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}"></script>
</head>
<body>
    <title>Mission Control</title>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}
    <div id="map"></div>
    <input type="button" value="Get Curtain" id="save_route">
    <script src="{{url_for('static', filename='map.js')}}"></script>
</body>
